// als je de complete bootstrap.scss inlaadt, moet je variabelen overschrijven voor het inladen ervan
// je vindt _variables.scss en alle andere Bootstrap Sass bestanden op onderstaand pad
//ook utilities overschrijven kan op deze plaats - vergeet niet de !default flag mee over te nemen

$primary: goldenrod !default;
$secondary: #222 !default;
$third: whitesmoke;
$body-bg: $third!default;
$nav-pills-link-active-color: $secondary !default;
$nav-pills-link-active-bg: goldenrod !default;
$link-color: whitesmoke !default;
$link-decoration: uppercase;
$accordion-icon-color: $primary !default;
$accordion-button-bg: $secondary !default;
$accordion-button-color: whitesmoke !default;
$card-color: $primary !default;
$card-bg: $secondary !default;
$link-decoration: none;
$box-shadow: 0 8px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(37, 36, 36, 0.19);


@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");



//extra custom code plaats je onder het inladen, bv.:


.navbar img {
  width: 50px;
  height: auto;
}

.display-6 {
  padding: 2rem 0;
}

.nav-link {
  text-transform: uppercase;
}

.sub-header {
  padding: 1.5rem 0;
  color: $primary;
  transition: 250ms ease-in-out;
  background: repeating-linear-gradient(45deg,
      #222 0px,
      #222 30px,
      #942c12 30px,
      #942c12 50px,
    );
}

.card {
  border: none;
}

.info,
.spelers,
.sub-info,
.sponsors,
.contact {
  padding-bottom: 15rem;
}


.card {
  transition: .25s ease-in-out;
  filter: brightness(95%);

  &:hover {
    animation: hanging 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: brightness(100%);
  }
}

.footer {
  background-color: $secondary;
  color:$third;
  padding: 4rem;
}


.card {
  transition: .25s ease-in-out;
  text-transform: uppercase;

  &:hover {
    animation: hanging 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: $primary;
    filter: brightness(110%);
  }
}


@keyframes hanging {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}





// {wil je Bootstrap niet volledig inladen maar slechts de Sass partials en JS bestanden die je nodig hebt, ziehier hoe je dat kan doen https://getbootstrap.com/docs/5.0/customize/optimize/}