// als je de complete bootstrap.scss inlaadt, moet je variabelen overschrijven voor het inladen ervan
// je vindt _variables.scss en alle andere Bootstrap Sass bestanden op onderstaand pad
//ook utilities overschrijven kan op deze plaats - vergeet niet de !default flag mee over te nemen

@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");


//extra custom code plaats je onder het inladen, bv.:
body {
  background-color: whitesmoke;
  min-height: 75rem;
  position: relative;
}

a {
  text-decoration: none;
}

.header {
  position: sticky;
  z-index: 9999;
  top: 0;
}

.nav-pills .nav-link.active {
  background-color: goldenrod;
  color: #222;
}

.navbar img {
  height: auto;
  width: 40px;
}

.sub-header {
  padding: 1.5rem 0;
  color: rgb(233, 187, 70);
  transition: 250ms ease-in-out;
  background: repeating-linear-gradient(45deg,
      #222 0px,
      #222 30px,
      #942c12 30px,
      #942c12 50px,
    );

}


.display-6 {
  padding: 2rem 0;
}


.nav-pills a {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.main {
  padding: 1rem 0;
}

.sub-header:hover {
  color: gold;
  font-weight: bolder;
}

.info {
  padding: 2rem 0;
}

.accordion {
  padding: 1rem;
}

.accordion-item {
  border: none;
  background-color: #222;
  color: whitesmoke;
  box-shadow: none;
}

.accordion-button {
  background-color: #222;
  color: white;

  &:not(.collapsed) {
    color: rgb(165, 28, 28);
    background-color: gold;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.btn-dark {
  background-color: gold;
  color:#222;
  border:none;
}

.infopic img {
  box-shadow: 0 8px 8px 0 rgba(31, 30, 30, 0.2), 0 6px 20px 0 rgba(37, 36, 36, 0.19);
  border-radius: 12px;
}

.card {
  background-color: #222;
  color: white;
  transition: .25s ease-in-out;
  border: none;

  &:hover {
    animation: hanging 2s infinite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:gold;
    filter: brightness(110%);
  }
}



.footer {
  background-color: #222;
  color: white;
}

.footer div {
  padding: 1rem;
}






@keyframes hanging {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}


.info,
.spelers,
.contact {
  margin-bottom: 9rem;
}

// {wil je Bootstrap niet volledig inladen maar slechts de Sass partials en JS bestanden die je nodig hebt, ziehier hoe je dat kan doen https://getbootstrap.com/docs/5.0/customize/optimize/}